:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress {
    position: absolute;
    top: 0; left: 0;
    height: 2px;
}

.toolbar {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.toolbar-spacer {
    flex-grow: 1;
}

.form-field {
    min-width: 300px;
}

.toolbar::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.toolbar::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    min-height: auto !important;
    padding: 8px 10px !important;
}

.toolbar::ng-deep .mat-mdc-select-value {
    /* font-size: 0.8rem; */
}

.toolbar::ng-deep .mdc-text-field {
    padding: 0 !important;
}

.content {
    width: 100%;
    height: 100%;
    padding: 24px;
    padding-top: 0;
    overflow: hidden;
}

.table-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgb(213, 216, 224);
    border-radius: 10px;
}

.table {
    width: 100%;
}

.table .mat-mdc-header-cell {
    position: sticky;
    top: 0;
    z-index: 2;
    border-right: 1px solid rgb(213, 216, 224);
}

.table .mat-mdc-header-cell:last-child {
    border-right: none;
}

.table .mat-mdc-cell {
    border-right: 1px solid rgb(213, 216, 224);
}

.table .mat-mdc-cell:last-child {
    border-right: none;
}

.table .mat-mdc-header-cell.mat-column-ref,
.table .mat-mdc-header-cell.mat-column-action {
    z-index: 4;
}

.table .mat-mdc-header-cell.mat-column-ref {
    left: 0;
}

.table .mat-mdc-cell.mat-column-ref {
    position: sticky;
    left: 0;
    min-width: 100px;
    /* text-align: center; */
    z-index: 3;
}

.table .mat-column-description {
    min-width: 300px;
}

.table .mat-column-reporter {
    min-width: 200px;
}

.table .mat-column-reported_date {
    min-width: 160px;
    /* text-align: center; */
}

.table .mat-column-due_date {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-dev_type {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-severity {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-status {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-dev {
    min-width: 200px;
}

.table .mat-column-dev_eta {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-dev_actual {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-qa {
    min-width: 200px;
}

.table .mat-column-qa_eta {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-qa_actual {
    min-width: 140px;
    /* text-align: center; */
}

.table .mat-column-action {
    position: sticky;
    right: 0;
    min-width: 150px;
    text-align: center;
}

.pill-wrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.pill {
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2em 1em;
    border-radius: 2em;
    color: #fff;
}

.pill.blocking {
    background-color: rgb(15, 19, 24)
}

.pill.fail,
.pill.major {
    background-color: rgb(220, 24, 47);
}

.pill.open {
    background-color: rgb(0, 133, 241);;
}

.pill.moderate,
.pill.in_progress {
    background-color: rgb(241, 141, 0);
}

.pill.pass,
.pill.dev_done {
    background-color: rgb(19, 141, 141);
}

.pill.minor,
.pill.localization,
.pill.nab {
    background-color: rgb(116, 133, 133);
}
