<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="progress"></mat-progress-bar>

<div class="toolbar">
    <mat-form-field class="form-field" appearance="outline">
        <mat-select (selectionChange)="changeSelectedFeatureId($event)" [value]="selectedFeatureId">
            <mat-option *ngFor="let feature of features" [value]="feature._id">{{ feature.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="toolbar-spacer"></div>

    <button mat-flat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon> Refresh
    </button>

    <button mat-flat-button color="primary" (click)="openIssueDialog(false)" *ngIf="isAdmin || isQA">
        <mat-icon>add</mat-icon> Add new issue
    </button>
</div>

<div class="content">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="ref">
                <th mat-header-cell *matHeaderCellDef>Issue Ref</th>
                <td mat-cell *matCellDef="let item"> {{ item.ref }} </td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let item"> {{ item.description }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let item">
                    <div class="pill-wrapper">
                        <div [class]="'pill ' + item.status.toLowerCase()">{{ item.status }}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="reporter">
                <th mat-header-cell *matHeaderCellDef>Reporter</th>
                <td mat-cell *matCellDef="let item"> {{ item.reporter?.first_name + ' ' +  item.reporter?.last_name }} </td>
            </ng-container>
    
            <ng-container matColumnDef="reported_date">
                <th mat-header-cell *matHeaderCellDef>Reported Date</th>
                <td mat-cell *matCellDef="let item"> {{ item.reported_date }} </td>
            </ng-container>
    
            <ng-container matColumnDef="due_date">
                <th mat-header-cell *matHeaderCellDef>Due Date</th>
                <td mat-cell *matCellDef="let item"> {{ item.due_date }} </td>
            </ng-container>
    
            <ng-container matColumnDef="dev_type">
                <th mat-header-cell *matHeaderCellDef>Dev Type</th>
                <td mat-cell *matCellDef="let item"> {{ item.dev_type }} </td>
            </ng-container>
    
            <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef>Severity</th>
                <td mat-cell *matCellDef="let item">
                    <div class="pill-wrapper">
                        <div [class]="'pill ' + item.severity.toLowerCase()">{{ item.severity }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="dev">
                <th mat-header-cell *matHeaderCellDef>Dev Name</th>
                <td mat-cell *matCellDef="let item"> {{ item.dev ? (item.dev?.first_name + ' ' + item.dev?.last_name) : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="dev_eta" *ngIf="isAdmin || isDev">
                <th mat-header-cell *matHeaderCellDef>Dev ETA</th>
                <td mat-cell *matCellDef="let item"> {{ item.dev_eta ? item.dev_eta : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="dev_actual" *ngIf="isAdmin || isDev">
                <th mat-header-cell *matHeaderCellDef>Dev Actual</th>
                <td mat-cell *matCellDef="let item"> {{ item.dev_actual ? item.dev_actual : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="qa">
                <th mat-header-cell *matHeaderCellDef>QA Name</th>
                <td mat-cell *matCellDef="let item"> {{ item.qa ? (item.qa?.first_name + ' ' + item.qa?.last_name) : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="qa_eta" *ngIf="isAdmin || isQA">
                <th mat-header-cell *matHeaderCellDef>QA ETA</th>
                <td mat-cell *matCellDef="let item"> {{ item.qa_eta ? item.qa_eta : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="qa_actual" *ngIf="isAdmin || isQA">
                <th mat-header-cell *matHeaderCellDef>QA Actual</th>
                <td mat-cell *matCellDef="let item"> {{ item.qa_actual ? item.qa_actual : '-' }} </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let feature">
                    <button mat-icon-button color="primary" (click)="openIssueDialog(true, feature)">
                        <mat-icon>{{ isAdmin ? 'edit' : 'remove_red_eye' }}</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteFeature(feature._id)" *ngIf="isAdmin">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<!-- paginator -->
<mat-paginator [pageSize]="pagination.limit"></mat-paginator>


