<div class="profile-picture-container">
    <div class="profile-picture-wrapper">
        <img [src]="pictureUrl" class="profile-picture-preview">
        <mat-spinner class="profile-picture-spinner" [strokeWidth]="3" [diameter]="150" *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="profile-picture-action">
        <button mat-icon-button class="profile-picture-button profile-picture-upload" (click)="onUpload()" [disabled]="isLoading">
            <mat-icon>cloud_upload</mat-icon>
        </button>
        <button mat-icon-button class="profile-picture-button profile-picture-delete" (click)="onDelete()" [disabled]="isLoading">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
