<div mat-dialog-title>
    <span>Change password</span>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="progress"></mat-progress-bar>

<mat-dialog-content>
    <form class="form" [formGroup]="form">
        <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label>old password</mat-label>
            <input type="text" matInput [type]="isOldPassVisible ? 'text' : 'password'" formControlName="old_password">
            <button mat-icon-button matSuffix type="button" (click)="isOldPassVisible = !isOldPassVisible">
                <mat-icon>{{ isOldPassVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('old_password')?.errors?.['required']">field is required!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label>new password</mat-label>
            <input type="text" matInput [type]="isNewPassVisible ? 'text' : 'password'" formControlName="new_password">
            <button mat-icon-button matSuffix type="button" (click)="isNewPassVisible = !isNewPassVisible">
                <mat-icon>{{ isNewPassVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('new_password')?.errors?.['required']">field is required!</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="isLoading">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isLoading">Save</button>
</mat-dialog-actions>
